{{#mdl-card title=title classNames="pipeline-card"}}
  <div class="mdl-card__supporting-text">
    <dl style="margin: 0;">
      <dt>Description</dt>
      <dd>

        {{#if pipeline.description}}
          {{pipeline.description}}
        {{else}}
          <em>No description</em>
        {{/if}}

      </dd>
      <dt>Steps</dt>
      <dd>

        {{#if pipeline.steps}}

          {{#each pipeline.steps as |step|}}
            {{#mdl-card title=step.title classNames="step-card"}}
              <div class="mdl-card__supporting-text">
                <dl style="margin: 0;">
                  <dt>Description</dt>
                  <dd>
                    {{#if step.description}}
                      {{step.description}}
                    {{else}}
                      <em>No description</em>
                    {{/if}}
                  </dd>
                  <dt>Status</dt>
                  <dd>
                    {{#if step.status}}
                      {{step.status}}
                    {{else}}
                      <em>No status</em>
                    {{/if}}
                  </dd>
                  <dt>Code</dt>
                  <dd>
                    {{#if step.code}}
                      {{step.code}}
                    {{else}}
                      <em>No code</em>
                    {{/if}}
                  </dd>
                  <dt>Order</dt>
                  <dd>
                    {{#if step.order}}
                      {{step.order}}
                    {{else}}
                      <em>No order</em>
                    {{/if}}
                  </dd>
                </dl>
              </div>
            {{/mdl-card}}
          {{/each}}

        {{else}}
          <em>No steps</em>
        {{/if}}

      </dd>
    </dl>
  </div>
{{/mdl-card}}
